/*
 * Copyright (c) 2020 The ZMK Contributors
 * goat
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
    // flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

/ { 
    behaviors {
        //mod kp when u hold, and to layer when you tap
        mtt:mod_tap_to {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TAP_TO";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&to>;
        };
        //momentary layer on hold, and to layer on tap
        mlt:momentary_layer_tap_to {
            compatible = "zmk,behavior-hold-tap";
            label="MOMENTARY_LAYER_TAP_TO";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&mo>, <&to>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_unlock {
            timeout-ms = <50>;
            key-positions = <11 12 13 16 17 18>;
            layers = <3>;
            bindings = <&to 0>;
        };

        combo_lock {
            timeout-ms = <50>;
            key-positions = <2 10>;
            layers = <2>;
            bindings = <&to 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
                
       	layer_default {
            bindings = <
            &kp Q    &kp W &kp E &kp R     &kp T            &kp Y   &kp U  &kp I &kp O         &kp P 
            &kp A    &kp S &kp D &kp F     &kp G            &kp H   &kp J  &kp K &kp L         &kp BACKSPACE
            &kp LALT &kp Z &kp X &kp C     &kp V            &kp B   &kp N  &kp M &mt LGUI  DEL &kp ENTER
                                 &kp LCTRL &kp LSHFT  	    &kp SPC &mlt 1 1 
            >;
		};

       	layer_symbols {
            bindings = <
            &kp GRAVE &kp LBKT  &kp UP   &kp RBKT     &kp NON_US_BACKSLASH        &kp N7    &kp N8 &kp N9 &kp N0    &kp NON_US_HASH
            &kp TAB   &kp LEFT  &kp DOWN &kp RIGHT    &kp SEMI                    &kp N4    &kp N5 &kp N6 &kp MINUS &kp BACKSPACE 
            &kp LALT  &kp COMMA &kp APOS &kp PERIOD   &kp FSLH                    &kp N1    &kp N2 &kp N3 &kp EQUAL  &kp ENTER 
                                         &mtt LCTRL 0 &kp LSHFT                   &kp SPACE &mtt LC(LS(LALT)) 2 
            >;
		};	
		
		layer_etc {
            bindings = <
            &kp ESC     &kp HOME      &kp F22       &kp INS       &kp C_VOL_UP        &kp PRINTSCREEN &kp F1 &kp F2  &kp F3  &kp F4
            &kp F23     &kp C_PREV    &kp C_PP      &kp C_NEXT    &kp C_VOL_DN        &kp K_CALC      &kp F5 &kp F6  &kp F7  &kp F8 
            &bt BT_CLR  &bt BT_SEL(0) &bt BT_SEL(1) &bt BT_SEL(2) &kp C_MUTE          &kp CAPS        &kp F9 &kp F10 &kp F11 &kp F12   
                                                    &mtt LCTRL 0  &kp LSHFT  		  &kp SPACE       &kp LC(LS(LALT))
            >;
		};	
        
        layer_lock {
            bindings = <
            &none &none   &none   &none   &none        &none &none   &none   &none   &none
            &none &kp F24 &kp F24 &kp F24 &none        &none &kp F24 &kp F24 &kp F24 &none 
            &none &none   &none   &none   &none        &none &none   &none   &none   &none    
                                  &none   &none        &none &none
            >;
		};	
        
	};
};
